# Core
kafka-python
redis
python-dotenv
prometheus_client
python-json-logger

# Web UI
streamlit
pandas
pydeck

# Airflow Snowflake
snowflake-connector-python
apache-airflow

# Telegram
python-telegram-bot