certifi==2025.4.26
charset-normalizer==3.4.2
idna==3.10
kafka-python==2.2.7
python-dotenv==1.1.0
requests==2.32.3
urllib3==2.4.0
streamlit
pydeck
pandas
python-dotenv
streamlit-autorefresh
snowflake-connector-python
kafka-python
python-dotenv